/* 文件名太长的话 会超出容器 很难看， */
.codeEditor {
  width: 100vw;
  height: 100vh;
  background-color: rgb(21, 21, 21);
  overflow: hidden;
  .main_bav {
    padding: 5px 15px;
    border-bottom: 1px solid rgb(36, 36, 36);
    height: 8%;
    .menu_bar {
      color: white;
      display: flex;
      align-items: center;
      svg{
        font-size: 24px;
      }
    }
  }

  .container{
    height: 92%;
    display: flex;
    .left_file_explorer{
      border: 1px solid rgb(36, 36, 36);
      width: 20%;
    }
    .right_editor{
      width: 80%;
    }
  }
}
